<nav class="p-3 bg-dark text-center " >
    <a class="text-decoration-none text-white me-3 fs-5" href="/">Home</a>
    <a class="text-decoration-none text-white me-3 fs-5 " href="/library">Library</a>
    <a class="text-decoration-none text-white me-3 fs-5 " href="/about">About</a>
</nav>