<%- include("partials/header") %>
<%- include("partials/nav") %>


<div class="container mt-5 text-center rounded bg-dark text-white ">
<h1 class="mt-5">About BookStore</h1>
<p class=" p-3 mb-4" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, fuga.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis perferendis fugit dolorum. Maxime, distinctio odio?<br>
    Modi laboriosam dolorem inventore voluptatibus itaque numquam. 
    Lorem ipsum dolor sit amet consectetur,<br> adipisicing elit. Odit, totam.
</p>
</div>



<%- include("partials/footer") %>