<%- include("partials/header") %> <%- include("partials/nav") %>

<div class="detailsbook d-flex mt-3 px-2">
  <img
    class="left-img p-2 rounded"
    style="width: 43rem"
    src="https://images.unsplash.com/photo-1476275466078-4007374efbbe?q=80&w=2029&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt=""
  />

  <div class="rightDeatils px-5">
  <h1 class="mb-3 fw-bolder fs-1">Book Details</h1>
  <h2 class="mb-0 fs-3">Book Title</h2>
  <small>By Author Name</small>
  <p class="mt-4 bg-light p-3 rounded">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
    exercitationem ducimus aliquid iusto repudiandae, maxime ipsa qui similique
    voluptatem nam incidunt animi totam ab quisquam aliquam quo sit cumque
    eligendi.
  </p>

  <h5 class="p-2 fs-5">ISBN NUMBER</h5>
   <h1 class="mb-4 text-success">Price $100</h1>
 
   <a href="/update-book" class="btn btn-primary mt-3 ">Update Book</a>
   <a href="" class="btn btn-danger mt-3 mx-4">Delete Book</a>
</div>

</div>

<%- include("partials/footer") %>
